
titulo{
    color: rgb(57, 69, 14);
    text-align: center;
    background-color: rgb(83, 255, 3);
}
texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}
